@media screen and (min-width:481px){
    .background-div
    {
        margin: 10% 23%;
    }
  .title1
  {
      margin-left: 30px;
      font-size: 65px;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-family: 'Roboto', sans-serif;
  }
  .title2
  {
      font-size: 65px;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
  }
  .title3
  {
      font-size: 35px;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      margin-top: 60px;
  }
  .heading-line
  {
      display: grid;
      grid-template-columns: 220px 390px 50px 250px ;
  }
  .Tasks
  {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  .box-for-task
  {
      width: 200px;
      height: 300px;
      border: 1px solid orangered;
      border-radius: 9px;
      box-shadow: 7px 7px 5px lightgray;
      transition: transform 1s ;
  }
  .box-for-task:hover
  {
      transform: scale(1.09,1.09);
  }
  .box-for-task:active
  {
      transform: scale(1.2,1.2);
  }
  .upper-part
  {
      margin-left: 30px;
  }
  a
  {
      height: 40px;
      width: 40px;
      text-align: center;
      text-decoration: none;
      position: absolute;
      right: 50px;
      top: 50%;
      background-color: orange;
      border-radius: 50%;
      color: white;
      font-size: 35px;
  }
  .task-title
  {
      font-size: 25px;
      text-align: center;
      color: orangered;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 7px;
      margin-top: 25px;
  }
  .task-situation
  {
      color: orangered;
      font-size: 20px;
      font-family: sans-serif;
      font-weight: 500;
      text-align: center;
      margin-top: 50px;
      text-decoration: 3px line-through orangered;
  }
  .Pending-task
  {
      font-size: 20px;
      font-family: sans-serif;
  }
  .sign-style
  {
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 35px;
      background-color: orangered;
      color: white;
      border-radius: 50%;
      font-weight: bold;
      margin-top: 60px;
  }
  
.main-container {
  filter: blur(6px);
  height: 100%;
}

.box-container {
  background-color: white;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 2;
  text-align: center;
  height: 200px;
  width: 400px;
  border: 1px solid orangered;
  border-radius: 12px;
  box-shadow: 7px 7px 9px lightgray;
}
.title
{
    font-size: 20px;
    font-family: sans-serif;
    color: orangered;
    margin-top: 40px;
    font-weight: 300;
}
input[type=text]
{
    width: 250px;
    height: 30px;
    border: 1px solid orangered;
    box-shadow: 4px 4px 5px lightgray;
}
.button
{
    margin-top: 25px;
    margin-left: 25px;
    width: 90px;
    height: 40px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    cursor: pointer;
    transition: transform 1s;
}
.button:hover
{
    transform: scale(1.1,1.1);
}
.button:active
{
    transform: scale(1.19,1.19);
    outline: none;
    border: none;
}
.next
{
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: 50px;
  top: 50%;
  background-color: orange;
  border-radius: 50%;
  color: white;
  font-size: 35px;
}
.back
{
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 50px;
  top: 50%;
  background-color: orange;
  border-radius: 50%;
  color: white;
  font-size: 35px;
}
}

  @media screen and (min-width:320px) and (max-width:480px){
      .main-container {
          filter: blur(6px);
          height: 100%;
        }
      .heading-line
      {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: wrap;
          margin-right: 20px;
          margin-left: 20px;
      }
      .title1{
          font-size: 45px;
          font-family: 'Bebas Neue', cursive;
          font-family: 'Open Sans Condensed', sans-serif;
          font-family: 'Raleway', sans-serif;
          font-family: 'Roboto', sans-serif;
      }
      .title2
      {
          font-size: 45px;
          font-family: 'Bebas Neue', cursive;
          font-family: 'Open Sans Condensed', sans-serif;
          font-family: 'Raleway', sans-serif;
          font-family: 'Roboto', sans-serif;
          font-weight: 100;
          margin-left: -15%;
      }
      .title3
      {
          display: none;
      }
      .sign-style
      {
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 35px;
          background-color: rgba(255, 68, 0, 0.829);
          color: white;
          border-radius: 50%;
          font-weight: bold;
      }
      .Tasks
      {
          display: flex;
          justify-content: center;
          flex-direction: column;
      }
      .box-for-task
      {
          width: 90%;
          height: 70px;
          border: 1px solid rgba(255, 68, 0, 0.295);
          border-radius: 9px;
          box-shadow: 4px 5px 5px lightgray;
          margin-top: 30px;
          margin-left: 10px;
      }
      .task-title
      {
          font-size: 25px;
          text-align: left;
          color: gray;
          font-family: 'Raleway', sans-serif;
          margin-bottom: 7px;
          margin-top: 25px;
      }
      .task-situation
      {
          color: orangered;
          font-size: 20px;
          font-family: sans-serif;
          font-weight: 600;
          text-align: center;
          margin-top: 50px;
          text-decoration: 3px line-through orangered;
          display: none;
      }
      .upper-part
      {
          margin-left: 30px;
      }
      .horizontal-line
      {
          display: none;
      }
      input[type=checkbox]
      {
          display: none;
      }
      a
      {
          display: none;
      }
      .Pending-task
      {
          font-size: 20px;
          font-family: sans-serif;
          display: none;
      }
      .box-container {
          background-color: white;
          font-weight: bold;
          position: absolute;
          top: 35%;
          left: 6%;
          z-index: 2;
          text-align: center;
          height: 200px;
          width: 350px;
          border: 1px solid orangered;
          border-radius: 12px;
          box-shadow: 7px 7px 9px lightgray;
      }
      .title
  {
      font-size: 20px;
      font-family: sans-serif;
      color: orangered;
      margin-top: 40px;
      font-weight: 300;
  }
  input[type=text]
  {
      width: 250px;
      height: 30px;
      border: 1px solid orangered;
      box-shadow: 4px 4px 5px lightgray;
  }
  .button
  {
      margin-top: 25px;
      margin-left: 25px;
      width: 90px;
      height: 40px;
      background-color: orangered;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 20px;
      opacity: 0.8;
      cursor: pointer;
      transition: transform 1s;
  }
  .button:active
  {
      transform: scale(1.1,1.1);
      outline: 0;
      border: none;
  }
  }