body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main-container {
    background-image: url("aasignment2_page2.png");
    filter: blur(6px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .box-container {
    background-color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 37%;
    z-index: 2;
    text-align: center;
    height: 200px;
    width: 400px;
    border: 1px solid orangered;
    border-radius: 12px;
    box-shadow: 7px 7px 9px lightgray;
  }
  .title
  {
      font-size: 20px;
      font-family: sans-serif;
      color: orangered;
      margin-top: 40px;
      font-weight: 300;
  }
  input[type=text]
  {
      width: 250px;
      height: 30px;
      border: 1px solid orangered;
      box-shadow: 4px 4px 5px lightgray;
  }
  .button
  {
      margin-top: 25px;
      margin-left: 25px;
      width: 90px;
      height: 40px;
      background-color: orangered;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 20px;
      opacity: 0.8;
      cursor: pointer;
      transition: transform 1s;
  }
  .button:hover
  {
      transform: scale(1.1,1.1);
  }
  .button:active
  {
      transform: scale(1.19,1.19);
      outline: none;
      border: none;
  }
  .back
  {
        height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        position: absolute;
        left: 50px;
        top: 50%;
        background-color: orange;
        border-radius: 50%;
        color: white;
        font-size: 33px;
  }